nav {
    background-color: rgb(24, 137, 212);
    width: 100%;
    overflow: hidden;
}

nav a {
    font-size: xx-large;
    padding: 40px;
    float: left;
    color: white;
    text-decoration: none;
}

header div {
    border: 5px solid rgb(51, 125, 223);
    text-align: center;
    font-size: 40px;
    border-radius: 80cap;
    background-color: rgb(51, 125, 223);
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

img {
    padding: 1cap;
}